html{
    
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
   
}
.logo img{
    height: 50px;
}
.logo p{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
.titreprincipale {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 5px;
    padding: 10px;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #618685;
    font-size: 2em;
    text-transform: uppercase;
}
.sliders img{
    height: 98vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    box-shadow: 12px 0px 12px 1px rgba(196, 196, 196, 0.745) ;
    z-index: 999;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background:rgba(255, 179, 0, 0.174);
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {
    background:rgba(255, 251, 0, 0.556);
    border-radius: 10px;
  }

nav{
    display: inline-block;
    width: 49%;
    height: 50px;
}
nav>ul{
   text-align: right;
   margin: 0;   
}
nav>ul>li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;   
}
li>a{ 
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    margin: 0;
}
li>a:hover{
    background-color: #228f94;
    transition-duration: 1s;
}
.logo{
    display: inline-block;
    padding-left: 5px;
    width: 49%;
    height: 50px;
}


.sliders{
    position: relative;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

.slide3{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: myAnim3 15s  linear 0s infinite normal forwards;
    
}
.slide4{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    animation: myAnim4 15s  linear 0s infinite normal forwards;
    
}
.slide5{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: start;
    animation: myAnim5 15s linear 0s infinite normal forwards;
    
}
.slide6{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: end;
    animation: myAnim6 15s  linear 0s infinite normal forwards;  
}
.slide5>img{
    height: 92vh;
    margin-left: 10px;
    
    animation: myAnimimg 15s  linear 0s infinite normal forwards; 

}

@keyframes myAnimimg {
	
	
    0%{    
        
    
        transform:rotate(0);
        
              
    }
    100%{    
        
        transform:rotate(25deg);
    } 

}


@keyframes myAnim3 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 100%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 0%;         
    }
    100%{    
        
        opacity: 0%;
    } 

}
@keyframes myAnim4 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 100%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 0%;         
    }
    100%{    
        
        opacity: 0%;
    } 

}
@keyframes myAnim5 {
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 100%;         
    }
    100%{    
        
        opacity: 0%;
    } 
}
@keyframes myAnim6 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;
          
    }
    80%{
        
        opacity: 100%;  
                
    }
    100%{    
        
        opacity: 0%;
    } 

}

.insc {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top:0;
    right: 0;   
    background-color: rgba(0, 0, 0, 0.577);
}
.insc:target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
@keyframes apparition {
    
    0%{    
        
        transform: translatey(-100px);
        opacity: 0;
    }
    100%{    
        
        transform: translatey(0px);
        opacity: 1;
    } 
  }
.btnclose{
    align-self: flex-end;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}
.btnclose a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}
.partie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}

.forme{
   display: flex;
   flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        #228f94,
        #0f575d
      );
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation:apparition 0.5s  linear both; 
}
input{
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: inset;
    margin-bottom: 15px;
}


button{
    padding: 12px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    border-radius: 80px;
    border: 0.5px solid rgba(255, 255, 255, 0);
    background-color: #228e94b4;
    transition: 0.4s linear;
}
button:hover{
    background-color: #1a97a2b6;
    box-shadow:0 4px 12px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    border: 0.5px solid white;
    
    margin: 0 auto;
}

.illustration{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.illustration img{
    height: 400px;
}
.informations{
    display: inline-block;
    width: 45%;
    text-align: justify;
    padding: 20px;
}
section{
    margin-bottom: 50px;
}

footer{
    background-color: rgba(53, 53, 53, 0.936);
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
footer>p{
    text-align: center;
}